* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: darkblue;
}

header h1{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.55em;
}

div.banner{
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
}

div.banner h2{
    color: white;
    text-align: center;
    padding:60px;
    font-size: 2.35em;
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    background-color: #EFEFEF;
}

div.form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

div.form h2{
    text-align: center;
}

div.form form{
    border:1px solid grey;
    padding:5px;
    
}

div.form form label h3{
    padding-top:5px;
    padding-bottom:5px;
}

div.form form select{
    width: 100%;
}

div.form form textarea{
    min-width: 100%;
    max-width: 100%;
    height: 250px;;
}

div.form form button{
    width:90%;
    background-color: limegreen;
    color:white;
    padding:3px;
    margin: auto;
}

div.carousel{
    width: 70%;
    display: flex;
}

div.carousel img{
    margin: auto;
}


footer{
    background-color: silver;
    display: flex;
}

footer.un{
    width:90%;
}

footer.deux{
    width:10%;
}